<Directory <%= @app_drive %>\stacks\websites\<%= @app_url %>\www\>
                Order deny,allow
                deny from all
                # localhost always good
                #allow from 127.0.0.1
                # allow access from self
                #allow from
                AuthType Basic
                AuthName "Password Required"
                AuthUserFile  <%= @app_drive %>\.htpasswd
                Require valid-user
                Satisfy Any
</Directory>