[database]
db_reader = <%= @db_host %>
db_writer = <%= @db_host %>
db_name   = <%= @db_dbname %>
db_user   = <%= @db_user %>
db_pass   = <%= @db_password %>
memcached =

[resource_paths]
app_cache_dir=
app_shared_dir=
domain=http://<%= @app_url %>/
caches=10.20.17.253,10.20.17.254,10.20.17.1
